---
import "../../styles/global.css";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import GarageTrackerMainPage from "../../assets/garagetracker/garage-tracker-mainpage.png";
import GarageTrackerVehicles from "../../assets/garagetracker/garage-tracker-vehicles.png";
import GarageTrackerAbout from "../../assets/garagetracker/garage-tracker-about.png";
import GarageTrackerGithub from "../../assets/garagetracker/garage-tracker-github.png";

const title = "Garage Tracker";
const techList = [
  "React.js",
  "React Hooks",
  "React Bootstrap",
  "JavaScript",
  "Gemini",
  "Browser LocalStorage",
  "React",
  "Git",
];
const projectImages = [
  {
    src: GarageTrackerMainPage,
    alt: "Picture of the Garage Tracker main page, which has a basic dashboard of information about the user's vehicles and buttons to navigate to other locations.",
  },
  {
    src: GarageTrackerVehicles,
    alt: "Picture of the Garage Tracker vehicles page, which has multiple vehicles, a search function, and a dialogue box to add more vehicles.",
  },
  {
    src: GarageTrackerAbout,
    alt: "Picture of the Garage Tracker about page, which includes a description of some features, info about the creator, and an AI disclaimer.",
  },
  {
    src: GarageTrackerGithub,
    alt: "Picture of the Github page for Garage Tracker, complete with ReadMe.",
  },
];
---

<ProjectLayout title={title} tech={techList} imageGallery={projectImages}>
  <p slot="description" class="p-6 mb-0 text-nord-snow">
    This site is a garage tracker, it allows a user to keep track of the
    vehicle(s) they own, their maintenance, and their modifications. I made this
    because I was dissatisfied with the options I have tried for vehicle
    tracking, as I found they tended to overwrite the data I input and it made
    it hard to create consistent records. This site is supposed to fix those
    problems. It is largely written by Gemini AI, and was created for my CS571
    class. I have extensively used React and this also served as a test to see
    how viable AI is for this purpose. I manually made a lot of the
    accessibility changes and will be creating the backend soon.
  </p>
  <p slot="challenges" class="p-6 text-nord-snow">
    The challenge I ran into and am still trying to solve is user storage and
    accounts. Currently, my implementation uses localstorage, and it works
    decently if the user only uses one device and does not clear their browser
    data often, but it runs into issues if they want to use multiple devices. I
    am planning to solve this by hosting a backend database on my network to
    support this site. I would like to make it available for some level of
    public use.
  </p>
  <p slot="challenges" class="p-6 text-nord-snow">
    I also ran into another challenge in the form of ensuring I understood the
    functionality and meaning of each line of code of this site. I wrote it
    mostly with AI, as noted, which I do not typically have AI write most of a
    project, as I find it hinders my learning. AI use was encouraged in my class
    and I thought it might be a good learning experience to have one project
    with heavy use of AI to understand more of how it works. To understand this
    site, I went through most of the code line-by-line, and added comments, or
    wrote my own notes on it, or refactored small pieces to ensure I understood
    what my site was doing.
  </p>
  <p slot="improvements" class="p-6 text-nord-snow">
    The main improvement planned for this site is to write a backend with a
    database so that I can make an account system for this site. After I have
    that up, I would like to locally host this site in the same way that this
    portfolio site is hosted, so that I can make it available to the public, or
    at the least some friends who I think may like it. Github Pages is a great
    option for its current form, but I want the modularity and freedom that
    would come with hosting the site myself.
  </p>
</ProjectLayout>
