---
import "../../styles/global.css";
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import HomeLabArchitectureImage from "../../assets/homelab/homelab-architecture.webp";
import UptimeKumaSummaryImage from "../../assets/homelab/uptimekuma-summary.png";
import ProxmoxSummaryImage from "../../assets/homelab/proxmox-summary.png";
import PiHoleSummaryImage from "../../assets/homelab/pihole-summary.png";
const title = "Proxmox Homelab";
const techList = [
  "Proxmox VE",
  "Debian Linux",
  "Docker",
  "Tailscale",
  "Cloudflare Tunnels / DNS",
  "Nginx",
  "Pi-Hole",
  "Unbound",
  "Proxmox Backup Server(PBS)",
  "Bash Scripting",
];
const projectImages = [
  {
    src: HomeLabArchitectureImage,
    alt: "Proxmox cluster architecture map",
  },
  {
    src: UptimeKumaSummaryImage,
    alt: "Image of uptime kuma uptime list",
  },
  {
    src: ProxmoxSummaryImage,
    alt: "Image of Proxmox summary with utilization totals",
  },
  {
    src: PiHoleSummaryImage,
    alt: "Image of PiHole Summary page",
  },
];
---

<ProjectLayout title={title} tech={techList} imageGallery={projectImages}>
  <p slot="description" class="p-6 mb-0 text-nord-snow">
    This is my homelab, I have spent quite some time setting everything up
    across three nodes. It is on my home network, of course, and everything is
    set up through tailscale, so I can access systems outside of my home. A lot
    of it focuses on web security and self-hosting services that I find to be
    useful. It also has 2FA setup which requires a physical component, which I
    will not disclose the details of in the interest of security.
  </p>
  <p slot="description" class="p-6 text-nord-snow">
    The first image is a map of my homelab, which illustrates the way everything
    connects together. Most things on the lab also use my own DNS servers with
    unbound, and I have both a primary DNS and a secondary DNS which filter
    through Pi-Hole. I am quite proud of this architecture and hope to add more
    to it soon, as it is currently hosted off three laptops in my living room
  </p>
  <p slot="challenges" class="p-6 text-nord-snow mb-0">
    My primary challenge has been uptime, as I noted above, I have this hosted
    in my living room with three laptop nodes. To combat this, I have set up
    redundancy, so my two higher-uptime devices have enough votes to retain
    quorom, and I have set up wake-on-lan for my devices which are capable of
    it. I also have an access method for all of my proxmox nodes, in case one
    goes down, I can get into another to try to get the crashed node back up.
  </p>
  <p slot="challenges" class="p-6 text-nord-snow">
    I also ran into some issues when I initially set up back ups for the
    servers, I did them nightly through Proxmox's vzdump feature, which very
    quickly filled my 2TB NAS SSD. Additionally, one of my devices kept crashing
    as it would attempt to back up for hours on end and eventually timeout. I
    partially resolved this by instituting Proxmox Backup Server and making that
    my nightly backup service, so my backups are more dynamic and only new data
    gets added to them, this has resolved the crashing issue. I still need to
    increase my local storage and institute some more data retention rules to
    prevent storing very old data, but I have made progress here.
  </p>
  <p slot="improvements" class="p-6 text-nord-snow">
    I would like to separate my nginx and webpage containers to make
    troubleshooting easier. I also plan to move my website hosting to a more
    reliable desktop as soon as possible. I also want to setup a router where I
    am able to control more aspects of my network.
  </p>
</ProjectLayout>/
