---
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.jsx';
const { title, techStack, images, description } = Astro.props;
---

<html lang="en">
    <head>
        <title>{title} | Drew Voss</title>
    </head>
    <body class = "bg-nord-darkest text-nord-ice min-h-screen font-sans">
        <Navbar client:load/>



    </body>










</html>